 
<html>
<body>

<img src="${logoImage}" alt="Teach Children To Save Program">

<p><h3>Contact us message from user ${emailAddress}.</h3></p>
<p>${message} </p>
	
Thanks
</body>
<p>© Copyright 2015 Teach Children to Save, Delaware.</p> 
<p>  Created by Capital One volunteers.</p>
</html>