<html>
    <body>

        <img src="${logoImage}" alt="Teach Children To Save Program">

        <p>

        <h3>Contact us message from user ${emailAddress}.</h3></p>
        <p>${message} </p>

        Thanks
    </body>
    <p>(c) Copyright 2016 Teach Children to Save, Delaware.</p>
</html>
