 
<html>
<body>

<img src="${logoImage}" alt="Delaware Bankers Association logo">

<p><h3>Message from teach children to save program.</h3></p>
<p>${message} </p>
	
Thanks
</body>
<p>© Copyright 2015 Teach Children to Save, Delaware.</p> 
<p>  Created by Capital One volunteers.</p>
</html>