 
<html>
<body>

<img src="${logoImage}" alt="Teach Children To Save Program">

<p><h3>A password reset request has been received for your login.</h3></p>
<p>To reset your password please click on below link. </p>
<p><a href="${passwordResetLink}">${passwordResetLink}</a></p>
	
Thanks
</body>
<p>© Copyright 2016 Teach Children to Save, Delaware.</p>
<p>  Created by Capital One volunteers.</p>
</html>