<html>
    <body>
        <img src="${logoImage}" alt="Teach Children To Save Program">

        <p>Unfortunately, your teacher has canceled the following event you were scheduled to volunteer for:</p>

        <p>${class}<p>

        #if ( $withdrawNotes  && $withdrawNotes != "" )
            <p><em><b>Withdraw Note:</b> ${withdrawNotes}<em></em></p>
        #end


        <p>Feel free to <a href="${signupLink}">sign up</a> for another available class to make a difference in a child's life.</p>

    </body>
    <p>(c) Copyright 2016-2022 Teach Children to Save, Delaware.</p>
</html>