 
<html>
<body>
<img src="${logoImage}" alt="Delaware Bankers Association logo">

<p>Unfortunately, your volunteer can no longer attend the following class:</p>
   <p>${class}</p>

<p>The class has been made available on the website again so that another volunteer may sign up for it.  You’ll be notified via email when that happens.</p>


</body>
</html>