 
<html>
<body>
<img src="${logoImage}" alt="Delaware Bankers Association logo">

<p>Congratulations, a volunteer has signed up for the following class:</p>
  
   <p>${class}</p>
<p>Volunteer:</p>
   <p>${volunteer}</p>

</body>
</html>