 
<html>
<body>
<img src="${logoImage}" alt="Delaware Bankers Association logo">

<p>Congratulations, you have signed up for the following class:</p>

   <p>${class}</p>
<p>Teacher:</p>
   <p>${volunteer}</p>
   
<p>Here’s a link to everything you will need to know:</p>
<p>o	FAQs</p>
<p>o	Training Video</p>
   

</body>
</html>