##AWS RDS config
aws.access_key=
aws.secret_access_key=
googleMapsKey=
email.from=
db.url=
db.user=
db.pass=
dynamoDB.connect=https://dynamodb.us-east-1.amazonaws.com
dynamoDB.environment=dev
databaseToUse=PrefetchedDynamoDB
bucketName=teachchildrentosavede-documents
