##AWS RDS config
aws.access_key=xxx
aws.secret_access_key=xxx
googleMapsKey=xxx
email.from=teach2save@udel.edu
dynamoDB.connect=https://dynamodb.us-east-1.amazonaws.com
dynamoDB.signingRegion=us-east-1
#dynamodb.proxyhost=
#dynamodb.proxyport=
dynamoDB.environment=dev
databaseToUse=PrefetchedDynamoDB
bucketName=teachchildrentosavede-documents
