@CHARSET "ISO-8859-1";

.div1_hide{
visibility:hidden;
}
.row_div {
	width:800px;
	
	float:left;
	vertical-align:middle;
	padding-left:14px;
}
.row_div_left {
	position:relative;
	float:left;
	width:400px;
}
.row_div_field_left_joint {
	position:relative;
	float:left;
	width:400px;
}

.row_div_right {
	position:relative;
	float:left;
	width:400px;
}
.caption_div {
	position:relative;
	float:left;
	width:130px;
	padding-top:3px;
	clear:both;
}
.field_div{
	position:relative;
	float:left;
	width:200px;
	min-height: 30px;
	height:auto;
}
.short_column {
    width:20px;
    text-align:right;
}
.short_row{
    height: 20px;
}
.field_boolean{
    width:12px;
    height:13px;
    display: inline-block;
}
.container{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: "Times New Roman", Times, serif;
}
.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}