body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:800px;
  width:960px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:956px;
  word-wrap:break-word;
}
#u1_ann {
  position:absolute;
  left:983px;
  top:796px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:230px;
  top:98px;
  width:400px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:98px;
  width:190px;
  height:322px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:322px;
}
#u6 {
  position:absolute;
  left:2px;
  top:153px;
  width:186px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:0px;
  width:960px;
  height:49px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:49px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:956px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:54px;
  top:14px;
  width:255px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:222px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:670px;
  top:9px;
  width:300px;
  height:14px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:414px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:606px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:798px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:235px;
  top:132px;
  width:430px;
  height:76px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:76px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:245px;
  top:145px;
  width:111px;
  height:41px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:375px;
  top:145px;
  width:255px;
  height:41px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:251px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:235px;
  top:208px;
  width:430px;
  height:139px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:139px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:245px;
  top:201px;
  width:120px;
  height:120px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:375px;
  top:202px;
  width:225px;
  height:75px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  text-align:left;
  line-height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:75px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:230px;
  top:357px;
  width:210px;
  height:55px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
}
#u37 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:455px;
  top:357px;
  width:210px;
  height:55px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:230px;
  top:443px;
  width:268px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:235px;
  top:477px;
  width:430px;
  height:120px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:120px;
}
#u43 {
  position:absolute;
  left:2px;
  top:52px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:245px;
  top:482px;
  width:280px;
  height:20px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:255px;
  top:502px;
  width:120px;
  height:85px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:85px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:385px;
  top:502px;
  width:255px;
  height:95px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:95px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:251px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:235px;
  top:607px;
  width:430px;
  height:93px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:93px;
}
#u51 {
  position:absolute;
  left:2px;
  top:38px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:245px;
  top:612px;
  width:280px;
  height:20px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:255px;
  top:632px;
  width:395px;
  height:68px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:68px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:391px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:690px;
  top:482px;
  width:300px;
  height:150px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u57 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:700px;
  top:487px;
  width:280px;
  height:20px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:710px;
  top:507px;
  width:260px;
  height:116px;
  font-family:'Calibri Regular', 'Calibri';
  font-style:normal;
  text-align:left;
  line-height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:116px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:256px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:898px;
  top:509px;
  width:92px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  line-height:22px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:850px;
  top:491px;
  width:140px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  text-align:right;
  line-height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:235px;
  top:710px;
  width:430px;
  height:55px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:55px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:426px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:225px;
  top:700px;
  width:445px;
  height:80px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:80px;
}
#u69 {
  position:absolute;
  left:2px;
  top:32px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_ann {
  position:absolute;
  left:663px;
  top:696px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:675px;
  top:733px;
  width:255px;
  height:14px;
  font-family:'Calibri Italic', 'Calibri';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#0099FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:14px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
