body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:750px;
  width:960px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:956px;
  word-wrap:break-word;
}
#u1_ann {
  position:absolute;
  left:983px;
  top:746px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:30px;
  top:0px;
  width:960px;
  height:49px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:49px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:956px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:54px;
  top:14px;
  width:255px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:222px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:670px;
  top:9px;
  width:300px;
  height:14px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:414px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:606px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:798px;
  top:48px;
  width:192px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:841px;
  top:6px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:661px;
  top:26px;
  visibility:hidden;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
  line-height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u25 {
  position:absolute;
  left:10px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:230px;
  top:121px;
  width:370px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:98px;
  width:190px;
  height:322px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:322px;
}
#u30 {
  position:absolute;
  left:15px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:35px;
  top:133px;
  width:185px;
  height:22px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  line-height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
}
#u32 {
  position:absolute;
  left:5px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:35px;
  top:178px;
  width:135px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:40px;
  top:155px;
  width:135px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:30px;
  top:98px;
  width:190px;
  height:32px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:left;
  line-height:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u36 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:230px;
  top:655px;
  width:430px;
  height:55px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:55px;
}
#u38 {
  position:absolute;
  left:2px;
  top:18px;
  width:426px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:173px;
  width:190px;
  height:25px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
}
#u40 {
  position:absolute;
  left:15px;
  top:5px;
  width:165px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:230px;
  top:98px;
  width:300px;
  height:14px;
  font-size:11px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:98px;
  width:190px;
  height:322px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:322px;
}
#u44 {
  position:absolute;
  left:2px;
  top:153px;
  width:186px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:245px;
  top:187px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:245px;
  top:201px;
  width:180px;
  height:20px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:245px;
  top:186px;
  width:10px;
  height:45px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:245px;
  top:159px;
  width:280px;
  height:20px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:2px;
  width:280px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:245px;
  top:390px;
  width:130px;
  height:15px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:245px;
  top:410px;
  width:210px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:245px;
  top:424px;
  width:210px;
  height:20px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:245px;
  top:409px;
  width:10px;
  height:45px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:245px;
  top:455px;
  width:210px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-size:11px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:245px;
  top:469px;
  width:210px;
  height:20px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:245px;
  top:454px;
  width:10px;
  height:45px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:245px;
  top:500px;
  width:210px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:245px;
  top:514px;
  width:210px;
  height:20px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:245px;
  top:499px;
  width:10px;
  height:45px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:510px;
  top:500px;
  width:90px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:13px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:510px;
  top:514px;
  width:90px;
  height:20px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:510px;
  top:499px;
  width:10px;
  height:45px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:465px;
  top:499px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:465px;
  top:513px;
  width:35px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:465px;
  top:497px;
  width:10px;
  height:40px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:440px;
  top:187px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:440px;
  top:201px;
  width:180px;
  height:20px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u90 {
  position:absolute;
  left:440px;
  top:186px;
  width:10px;
  height:45px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u91 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:245px;
  top:232px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:245px;
  top:246px;
  width:375px;
  height:20px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:245px;
  top:231px;
  width:10px;
  height:45px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u97 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:245px;
  top:277px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:245px;
  top:291px;
  width:375px;
  height:20px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:245px;
  top:276px;
  width:10px;
  height:45px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u103 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:245px;
  top:322px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:245px;
  top:336px;
  width:180px;
  height:20px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:245px;
  top:321px;
  width:10px;
  height:45px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u109 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:245px;
  top:358px;
  width:315px;
  height:13px;
  font-family:'Calibri Italic', 'Calibri';
  font-weight:400;
  font-style:italic;
  font-size:11px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:13px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:245px;
  top:545px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:245px;
  top:559px;
  width:180px;
  height:20px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:245px;
  top:544px;
  width:10px;
  height:45px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:245px;
  top:590px;
  width:180px;
  height:13px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-size:11px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:245px;
  top:604px;
  width:180px;
  height:20px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:245px;
  top:589px;
  width:10px;
  height:45px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:45px;
}
#u123 {
  position:absolute;
  left:2px;
  top:14px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
