<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>Teach children to Save Project</display-name>

    <jsp-config>
        <taglib>
            <taglib-uri>http://teachchildrentosaveday.org/tctstaglib</taglib-uri>
            <taglib-location>/WEB-INF/tags/tctstaglib.tld</taglib-location>
        </taglib>
    </jsp-config>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
<!-- 2024-03-30 mcherm Removing this... it does not actually work to bind things. -->
<!--        <url-pattern></url-pattern>-->
    </servlet-mapping>
    
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.tcts.util.NoCacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <servlet-name>mvc-dispatcher</servlet-name>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>
  
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Session Configuration -->
	<session-config>
	        <session-timeout>60</session-timeout>
	</session-config>
    
</web-app>
